.register{
    /* border: 2px solid red; */
    border-radius: 30px;
    display: flex;
    background-color: #fff7f7fb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    padding:20px
}
input{
    border:0px solid;
    background-color: transparent;
}
input:focus{outline:none!important;}
.box{
    padding:200px;
    /* border: 2px solid red; */
    background-color: #f9f7f7e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    /* padding-top: 50px; */
    /* border:2px solid black; */
    background-color: #ecc9c9e6;
    /* box-shadow: 10px 5px  rgba(12, 12, 12, 0.762); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
    border-radius:8px;
    width:500px;
    min-height: 200px;

}
#user,#passwd,#cnfpasswd,#key,#buttons,#fname{
    margin:5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}
#user,#passwd,#cnfpasswd,#fname{
    border: 2px solid black;
    border-radius:200vmax;
    padding:10px;
}
#RegisterButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-color:rgba(236, 160, 160, 0.297); */
    border:0px solid;
    background-color: transparent;
    border-radius: 5px;
    color:blueviolet;
    font-size:25px;
    padding:5px;
    transition: 1s;
}

#RegisterButton:hover{
    font-size:20px;
    background-color:rgba(236, 160, 160, 0.297);
    transition: 1s;
}
img{
    width:100px;
}
